* {
	overscroll-behavior: none;
}

html,
body {
	height: 100%;
}

#app {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 1 auto;
	min-height: 0;
	display: flex;
	flex-direction: column;
}

main > div {
	flex: 1 1 auto;
	min-height: 0;
	display: flex;
	flex-direction: column;
}

header,
footer {
	display: none !important;
}
